#top-container {
    background: #603A17;
    background-image: url(../../../assets/images/buried.png);
    border: solid black 1px;
    margin: 3%;
    margin-top: 2%;
}
.cdk-virtual-scroll-viewport {
    display: flex;
    height: 73vh;
    width: 100%;
}
.cdk-virtual-scroll-content-wrapper {
    height: 70vh;
}
.mat-expansion-panel {
    background-color:#71a040;
    margin-bottom: 2%;
    border: solid black 1px;
}
#spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.open-view-height {
    height: 75vh;
}
.closed-view-height {
    height: 36vh;
}