<mat-expansion-panel (opened)="panelOpenState=true" (closed)="panelOpenState=false" [expanded]="panelOpenState">
    <mat-expansion-panel-header>
        <mat-panel-title>Cart</mat-panel-title>
        <mat-panel-description>{{panelOpenState ? 'close' : 'open'}}</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex-container">
        <div  *ngFor="let type of cart">
            <div class="margin-left">
                <mat-toolbar class="items-toolbar">{{type.typeName}}</mat-toolbar>
                <table mat-table [dataSource]="type.products">
                    <ng-container matColumnDef="column1">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let product">{{product.productName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="column2">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let product">{{product.amount}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns"></tr>
                </table>
                <div class="items-toolbar bottom-table"></div>
            </div>
        </div>    
    </div>   
    <mat-action-row (click)="panelOpenState = false"></mat-action-row> 
</mat-expansion-panel>   
