<mat-toolbar>
    <!-- <img src="../../../assets/images/bsfp-logo-navbar.png" alt="bsfp-logo-navbar"> -->
    <button class="order-button-margin" mat-raised-button (click)="onOrderClick()">Order Manager</button>
    <span></span>
    <button mat-raised-button (click)="onPantryClick()">Pantry Manager</button>
    <!-- <img src="../../../assets/images/bsfp-logo-navbar.png" alt="bsfp-logo-navbar"> -->
    <span id="title">Online Manager</span> 
    <button mat-raised-button (click)="authService.logout()">Log Out</button>
</mat-toolbar>
