.mat-toolbar {
    background: #065777;
    background-image: url(../../../assets/images/black-paper.png);
    border-bottom: solid black 2px;
    display: grid;
    grid-template-columns: 70% 30%;
    min-width: 1200px;
}
#button-container {
    display: flex;
    justify-content: space-between;
}