<div id="spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<mat-card id="top-container" *ngIf="!loading">
    <span id="top-buttons">
        <span *ngIf="!product.productName" class="product-title">Product Create</span>
        <button mat-raised-button (click)="onCancelClick()">Cancel</button>
        <button mat-raised-button (click)="onAddClick()" [disabled]="!productForm.valid">Save Product and Exit</button>        
    </span>
    <div id="grid-container">
        <mat-card class="left-form" [formGroup]="productForm">
            <div>
                <mat-form-field>
                <mat-label>Product Name</mat-label>
                <input matInput formControlName="productName">
                <mat-error *ngIf="productForm.get('productName').hasError('required')">{{requiredError}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                <mat-label>Points</mat-label>
                <mat-select matInput formControlName="points">
                    <mat-option [value]=false>None</mat-option>
                    <mat-option [value]=1>1</mat-option>
                    <mat-option [value]=2>2</mat-option>
                    <mat-option [value]=3>3</mat-option>
                    <mat-option [value]=4>4</mat-option>
                    <mat-option [value]=5>5</mat-option>
                </mat-select>    
                <mat-error *ngIf="productForm.get('points').hasError('required')">{{requiredError}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                <mat-label>After School?</mat-label>
                <mat-select matInput formControlName="school">
                    <mat-option [value]=true>Yes</mat-option>
                    <mat-option [value]=false>No</mat-option>
                </mat-select>    
                <mat-error *ngIf="productForm.get('school').hasError('required')">{{requiredError}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                <mat-label>Infant?</mat-label>
                <mat-select matInput formControlName="infant">
                    <mat-option [value]=true>Yes</mat-option>
                    <mat-option [value]=false>No</mat-option>
                </mat-select>    
                <mat-error *ngIf="productForm.get('infant').hasError('required')">{{requiredError}}</mat-error>
                </mat-form-field>
            </div>
        </mat-card>
        <mat-card id="right-form" [formGroup]="productForm">
            <mat-card id="init-size-amount" *ngIf="!productForm.get('prodSizeAmount')">
                <span>This product does not currently have family size limits.</span>
                <button mat-raised-button (click)="initSizeAmount()">Create Limits</button> 
            </mat-card>
            <span id="add-limit" *ngIf="productForm.get('prodSizeAmount')">
                <span>Product Limits per Range of Family Size:</span>
                <button mat-raised-button (click)="addSizeAmount()">Add Another Limit</button>  
            </span>
            <cdk-virtual-scroll-viewport  itemSize="" *ngIf="productForm.get('prodSizeAmount')">
                <mat-card class="prod-size-amount-card" *ngFor="let element of productForm.get('prodSizeAmount')['controls']; let i = index" formArrayName="prodSizeAmount">
                    <ng-container [formGroupName]="i">
                        <div class="prod-size-amount-form">
                            <mat-form-field >
                                <mat-label>Minimum Family Size</mat-label>
                                <mat-select matInput formControlName="minFamSize">
                                    <mat-option [value]=1>1</mat-option>
                                    <mat-option [value]=2>2</mat-option>
                                    <mat-option [value]=3>3</mat-option>
                                    <mat-option [value]=4>4</mat-option>
                                    <mat-option [value]=5>5</mat-option>
                                    <mat-option [value]=6>6</mat-option>
                                    <mat-option [value]=7>7</mat-option>
                                    <mat-option [value]=8>8</mat-option>
                                    <mat-option [value]=9>9</mat-option>
                                </mat-select>
                                <mat-error *ngIf="productForm.get('prodSizeAmount')['controls'][i].get('minFamSize').hasError('required')">{{requiredError}}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                            <mat-label>Maximum Family Size</mat-label>
                            <mat-select matInput formControlName="maxFamSize">
                                <mat-option [value]=1>1</mat-option>
                                <mat-option [value]=2>2</mat-option>
                                <mat-option [value]=3>3</mat-option>
                                <mat-option [value]=4>4</mat-option>
                                <mat-option [value]=5>5</mat-option>
                                <mat-option [value]=6>6</mat-option>
                                <mat-option [value]=7>7</mat-option>
                                <mat-option [value]=8>8</mat-option>
                                <mat-option [value]=9>9</mat-option>
                            </mat-select>    
                            <mat-error *ngIf="productForm.get('prodSizeAmount')['controls'][i].get('maxFamSize').hasError('required')">{{requiredError}}</mat-error>
                            </mat-form-field>        
                            <mat-form-field>
                            <mat-label>Product Limit</mat-label>
                            <mat-select matInput formControlName="maxAmount">
                                <mat-option [value]=1>1</mat-option>
                                <mat-option [value]=2>2</mat-option>
                                <mat-option [value]=3>3</mat-option>
                                <mat-option [value]=4>4</mat-option>
                                <mat-option [value]=5>5</mat-option>
                                <mat-option [value]=6>6</mat-option>
                                <mat-option [value]=7>7</mat-option>
                                <mat-option [value]=8>8</mat-option>
                                <mat-option [value]=9>9</mat-option>
                            </mat-select>    
                            <mat-error *ngIf="productForm.get('prodSizeAmount')['controls'][i].get('maxAmount').hasError('required')">{{requiredError}}</mat-error>
                            </mat-form-field>
                            <span>
                                <button mat-raised-button (click)="deleteSizeAmount(i)">Delete Limit</button>
                            </span>  
                        </div> 
                        <mat-error *ngIf="productForm.get('prodSizeAmount')['controls'][i].hasError('minMax')">Minimum size must be equal to or smaller than maximum size.</mat-error>    
                    </ng-container>      
                </mat-card>
            </cdk-virtual-scroll-viewport>          
        </mat-card>
    </div>
</mat-card>

