<mat-card id="top-container">
    <span id="top-button" class="margin-bottom">
        <span id="shop-title">Current Shop</span>
        <button mat-raised-button (click)="onEditClick()">Edit Shop</button>
    </span>
    <mat-card id="shop-container" class="margin-bottom">
        <mat-expansion-panel class="type-card margin-bottom" *ngFor="let type of shopTypes">
            <mat-expansion-panel-header>
                <mat-panel-title>{{type.typeName}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card class="product-card margin-bottom" *ngFor="let product of type.products">{{product.productName}}</mat-card>
            <mat-card class="sub-type-card margin-bottom" *ngFor="let subType of type.subTypes">
                <div class="margin-bottom">{{subType.typeName}}</div>
                <mat-card class="sub-product-card margin-bottom" *ngFor="let subProduct of subType.products">{{subProduct.productName}}</mat-card>
            </mat-card>
        </mat-expansion-panel>
    </mat-card>
</mat-card>
