#add-product-container {
    font-size: large;
    height: 60vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.add-remove-products-viewport {
    height: 50vh;
}
#available-container {
    margin-right: 5%;
}
.blue {
    background-color: #065777;
}
button {
    border: solid black 1px;
}
.center-grid {
    display: grid;
    align-content: center;
    justify-content: center;
}
.dark-blue {
    background-color: #0a2f4d;
}
.flex-align-items {
    display: flex;
    align-items: center;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
}
.full-width {
    width: 100%;
}
.margin-bottom-1 {
    margin-bottom: 1%;
}
.margin-top-1 {
    margin-top: 1%;
}
.margin-top-2 { 
    margin-top: 2%;
}
.margin-top-1-not-first:not(:first-child) {
    margin-top: 1%;
}
.margin-top-2-not-first:not(:first-child) {
    margin-top: 2%;
}
.mat-card {
    border: solid black 1px;
}
.mat-error{
    color: #f5cdb6;
}
.mat-expansion-panel {
    border: solid black 1px;
}
.mat-radio-button {
    margin-left: 16px;
}
#name-container-grid {
    display: grid;
    grid-template-columns: 20% 1% auto;
}
.product-card {
    cursor: grab;
    width: 90%;
}
.product-card:active {
    cursor: grabbing;
}
.red {
    background-color: rgb(194, 27, 27);
}
#spinner {
    min-height: 100vh;
}
.texture {
    background-image: url(../../../assets/images/buried.png);
}
#top-buttons {
    display: grid;
    grid-template-columns: 70% 15% 15%;
}
#top-buttons button {
    margin-left: 10%
}
#top-container {
    background: #603A17;
    background-image: url(../../../assets/images/buried.png);
    margin: 3%;
    min-width: 1200px;
}
#type-size-amount-form {
    display: grid;
    grid-template-columns: 10% 24% 24% 24%;
    grid-gap: 5%;
    vertical-align: center;
}
.type-title {
    font-size: xx-large;
    font-weight: normal;
}
.x-l-font {
    font-size: x-large;
}
