#order-title {
    font-size: x-large;
    margin-bottom: 1%;
}
.cdk-virtual-scroll-viewport {
    height: 60vh;
    width: 1160px;
}
#ag-grid-container {
    background-color: #065777;
    background-image: url(../../../assets/images/black-paper.png);
    border: solid black 1px;
    display: grid;
    justify-content: center;
    max-width: 1200px;
}
#button-grid-container {
    display: grid;
    grid-template-columns: 85% 15%;
    margin-bottom: 3%;
}
#orders-title {
    font-size: x-large;
}
#spinner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}