<div id="spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<mat-card id="ag-grid-container" *ngIf="!loading">
    <span id="button-grid-container">
        <span id="orders-title">Orders</span>
        <button mat-raised-button (click)="updateOrders()">Refresh Orders</button>
    </span>
    <cdk-virtual-scroll-viewport  itemSize="">    
        <ag-grid-angular 
        style="width: 1140px; height: 500px;" 
        class="ag-theme-balham"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressCellSelection]="true"
        [pagination]="true"
        [paginationAutoPageSize]="true"
        [rowData]="rowData">
        </ag-grid-angular>
    </cdk-virtual-scroll-viewport >    
</mat-card>
