@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';

html {  
    height: 100%;
}
body {
    background-image: url(./assets/images/diagonal_waves.png); 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin: 0;  
}
.green-snackbar {
    background: green;
}
.green-snackbar button {
    background: #F6D936;
}
.mat-content > mat-panel-title, .mat-content > mat-panel-description {
    flex: 1;
}
.mat-focused .mat-form-field-label {
    color: #f5cdb6 !important;
}
.mat-form-field-ripple {
    background-color: #f5cdb6 !important;
}
.mat-form-field.ng-touched.ng-invalid .mat-form-field-label {
    color: #f5cdb6 !important;
}
.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
    color: #f5cdb6;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #f5cdb6;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: white;
}
.mat-select-panel {
    background: #065777;
    border: solid black .5px;
}
.mat-raised-button {
    background-color: #F6D936;
    border: solid black 1px;
    color: black;
}
.mat-raised-button[disabled][disabled] {
    color: #202020;
    background-color: #F6D936;
    opacity: .3;
}
.mat-raised-button[disabled][disabled]:hover {
    cursor: not-allowed;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #f5cdb6;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #f5cdb6;
}
.red-snackbar {
    background: red;
}
.red-snackbar button {
    background: #F6D936;
}
.delete-dialog-container .mat-dialog-container {
    background-image: url(./assets/images/buried.png); 
    border: solid black 1px;
    padding-top: 0px;
}
